*{
margin-top: 0;
margin-left: 0;
}

body {
  background-color: #c5e9d0;
}


h1{
  margin-top: 160px;
}
/* NAVIGATION BAR */
.navbar {
  display: flex;
  width: 98%;
  height: 100px;
  background-color: #10580b;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  
}

.navbar img {
  
  height: min(60px, 80px);
  width: min(60px, 80px);
  
}

.navlinks {
  display: flex;
  gap: min(5px,10px);
  margin-right: 10%;
}

.navlinks a {
  color: white;
  background-color: #31a252;
  font-weight: bold;
  padding: min(5px, 10px);
  height: min(30px, 60px);
  width: min(60px,120px);
  border: solid 2px orange;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.85rem;
  transition: all 0.3s ease;
}

.navlinks a:hover {
  background-color: #268040;
  border-color: #ff9f1a;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  